<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ASACAM | Settings</title>
    <link rel="stylesheet" href="/static/tailwindcss/output.css" />
  </head>
  <body class="dark">
    <main class="h-screen max-h-screen w-screen flex flex-col items-center py-4 px-4 md:px-8 space-y-4">
        <header class="w-full flex justify-between items-center">
            <div class="flex items-center gap-x-16">

            <a href="/"><h2>ASACAM</h2></a>
            <nav class="hidden gap-4 text-sm font-medium md:flex">
                <!-- <a class="hover:text-accent" href="/"> Home </a>
                <a class="hover:text-accent" href="/dashboard"> Dashboard </a>
                <a class="hover:text-accent" href="/activity">
                    Activity
                  </a>
                <a class="hover:text-accent" href="/alerts">
                Alerts
                </a>
                <a class="hover:text-accent" href="settings">
                Settings
                </a> -->
            </nav>
            </div>
            <div class="flex gap-2">
            <button
                class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 w-10 rounded-full"
                type="button"
            >
                <img
                width="32"
                height="32"
                alt="Avatar"
                class="rounded-full"
                src="/static/assets/avatar.png"
                style="aspect-ratio: 32 / 32; object-fit: cover;"
                />
            </button>
            </div>
        </header>
        <div class="h-full flex flex-col justify-center items-center py-4 px-4 md:px-8 space-y-4">
            <h1>Settings here</h1>
        </div>
    </main>
    <script src="" async defer></script>
  </body>
</html>
